body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/churro.jpg");
    background-position: center;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}
.logo {
    padding-top: 20px;
    width: 400px;
}
nav {
    height: 140px;
    overflow: hidden;
}
.main-page {
    padding-top: 50px;
}
.card-title {
    font-size: 2rem!important;
}
.card {
    opacity: 0.92;
}
.card-2 {
    padding: 10px 0;
}
.fa-github {
    color: red;
}